#settings-root {
    #personalise-grid {
        display: grid;
        max-width: 575px;
        max-height: 575px;
        width: 100%;
        height: 100%;
        grid-template-rows: 375px 1fr;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        margin-top: 12px;
    }

    #lock-screen {
        grid-column: 1/ span 2;
        background-size: cover;
        background-image: url("static/wallpaper/the-cliffs.webp");
    }

    #account-picture {
        grid-column: 1;
        grid-row: 2;
        background-size: cover;
        background-image: url("static/wam.webp");
        aspect-ratio: 1/1;
    }

    #picture-password {
        grid-row: 2;
        grid-column: 2;
        background-size: cover;
        background-image: url("../images/web/wallpaper/flowers/img7.jpg");
    }

    .personalise-button {
        transition: transform 0.1s ease-out;
        background: rgba(0, 0, 0, 0.1);
    }

    .personalise-content {
        color: white;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.33), transparent, transparent);
    }

    .personalise-content>p {
        padding: 16px;
        margin: 0;
    }

    .personalise-button.big:hover:active {
        transform: scale3d(0.990, 0.990, 0.990);
    }

    .personalise-button.medium:hover:active {
        transform: scale3d(0.985, 0.985, 0.985);
    }

    .personalise-button.small:hover:active {
        transform: scale3d(0.975, 0.975, 0.975);
    }

    #recent-settings {
        margin-top: 35px;
    }
}