body {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;    
  width: 100vw;
  height: 100vh;
  perspective: 1600px;
  transform-style: preserve-3d;
  user-select: none;
  -webkit-user-select: none; /* lick my entire ass */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}