.tile-group-header {
    display: none;
}

.fence-tile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
    grid-row-end: span 1;
    grid-column-end: span 1;
}

// @media screen and (max-width: 599px) {
//     .tile-container,
//     .fence-tile-container {
//         opacity: 0;
//         transition: transform 250ms cubic-bezier(0, 0.55, 0.45, 1), opacity 50ms ease-out;
//     }

//     .fence-tile-container>.tile-container {
//         opacity: 1;
//     }

//     .start-tile-group {
//         transform-style: preserve-3d;
//         transform-origin: center;
//         perspective: 800px;
//         perspective-origin: center;
//     }
// }

.tile-visual {
    img {
        object-fit: cover;
        image-rendering: high-quality;
    }
}

.tile-headline-style {
    font-weight: 100;
    text-wrap: nowrap;
}

@media screen and (min-width: 600px) {
    .tile-group-tiles {
        grid-template-columns: 120px;
        grid-template-rows: repeat(auto-fill, 120px);
        grid-auto-columns: 120px;
        grid-auto-rows: 120px;
        grid-auto-flow: none;
    }

    .fence-tile-container {
        grid-template-columns: 56px 56px;
        grid-template-rows: 56px 56px;
    }

    .tile-group-header {
        display: flex;
        margin: 0;
        font-size: 22px;
        font-weight: 300;
        white-space: nowrap;
        opacity: 0.75;
        grid-area: head;
        grid-column-end: span 2;
    }

    .start-tile-group>.fence-tile-container {
        grid-area: tiles;
        grid-row-end: span 1;
        grid-column-end: span 1;
    }

    .start-tile-group>.tile-container {
        grid-area: tiles;
        grid-row-end: span 1;
        grid-column-end: span 1;
    }

}

.tile {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.tile-border {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    box-sizing: border-box;
}

.tile-border:hover:before {
    content: " ";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 3px solid var(--accent-colour);
}

.tile-container {
    display: flex;
    grid-row-end: span 1;
    grid-column-end: span 1;
    transform-style: preserve-3d;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    font-family: 'Segoe UI';
    transform-style: preserve-3d;
    aspect-ratio: 1/1;
    text-decoration: none;
}

.tile-container.text-light {
    color: white;
}

.tile-container.text-dark {
    color: black;
}

.tile-container.press-top:active {
    transform-origin: 50% bottom;
}

.tile-container.press-bottom:active {
    transform-origin: 50% top;
}

.tile-container.press-left:active {
    transform-origin: right 50%;
}

.tile-container.press-right:active {
    transform-origin: left 50%;
}

.tile-container:active {
    transform-origin: initial;
}

@mixin tile-container-press($class, $x, $y) {
    .tile-container.#{$class}.press-top:active {
        transform: perspective(500px) rotateX(#{$x}deg);
    }

    .tile-container.#{$class}.press-bottom:active {
        transform: perspective(500px) rotateX(-#{$x}deg);
    }

    .tile-container.#{$class}.press-left:active {
        transform: perspective(500px) rotateY(-#{$y}deg);
    }

    .tile-container.#{$class}.press-right:active {
        transform: perspective(500px) rotateY(#{$y}deg);
    }
}

@include tile-container-press(square70x70, 16, 16);
@include tile-container-press(square150x150, 6, 6);
@include tile-container-press(square310x310, 3, 3);
@include tile-container-press(wide310x150, 6, 3);

.tile-container:active {
    transform: scale3d(0.975, 0.975, 0.975);
    touch-action: manipulation;
}

.tile-badge {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 24px;

    &.error {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(static/tiles/error-badge@1x.png);
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
(resolution >=2dppx) {
    .tile-badge.error {
        background-image: url(static/tiles/error-badge@2x.png);
    }
}

.square70x70 .tile-badge {
    width: 28px;
}

.moving>.tile {
    width: 100%;
    height: 100%;
}

.wide310x150 {
    aspect-ratio: 31/15;
}

.square310x310,
.square150x150,
.square70x70 {
    aspect-ratio: 1/1;
}

.tile-container.wide310x150 {
    grid-column-end: span 2;
}

.tile-container.square310x310 {
    grid-row-end: span 2;
    grid-column-end: span 2;
}


.tile-container .front {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    overflow: hidden;
    transform: translateY(0);
    flex-direction: column;
}

.tile-notification {
    transition: transform 0.8s cubic-bezier(0, 0.50, 0.1, 1);
}

.tile-container .front>* {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
}

.next {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    overflow: hidden;
    flex-direction: column;
    transform: translateY(calc(100% + 1px));
    will-change: transform;
    animation: show-next 0.8s cubic-bezier(0, 0.50, 0.1, 1);
}

@keyframes show-next {
    0% {
        transform: translateY(calc(100% + 1px));
    }

    100% {
        transform: translateY(0);
    }
}


.tile-scale-container {
    width: 100%;   
    height: 100%;
}

.next>* {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.tile-front-image-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tile-front-image {
    object-fit: contain;
    aspect-ratio: 1/1;
}

.tile-front-image.wide310x150 {
    aspect-ratio: 31/15;
}

.tile-front-text {
    padding: 0;
    margin: 5px 16px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tile-visual {
    display: flex;
    justify-content: center;
}

.tile-toast-footer {
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.33s linear;
}

.tile-badge-icon {
    width: 24px;
    height: 24px;
    margin: -9px 16px 0 16px;
}

.tile-toast-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.tile-binding {
    display: flex;
    height: calc(100% - 24px);
    width: 100%;
}

.tile-wide-small-image-and-text>img {
    width: 64px;
    height: 64px;
    margin: 16px;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.tile-wide-peak-image {
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.tile-wide-small-image-and-text>p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    font-size: 9pt;
    line-height: 16px;
    margin: 18px 18px 14px -8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-break: normal;
}

.tile-square-text>p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    font-size: 9pt;
    line-height: 16px;
    margin: 14px 18px 14px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.hidden {
    opacity: 0;
}

.tile-square-header-and-text,
.tile-wide-header-and-text {
    display: flex;
    flex-direction: column;

    >h3 {
        display: flex;
        font-size: 16pt;
        font-weight: 300;
        margin: 8px 8px 0 14px;
        overflow: hidden;
        text-overflow: clip;
        text-wrap: nowrap;
        white-space: nowrap;
        width: 100%;
    }

    >p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        font-size: 9pt;
        line-height: 16px;
        margin: 4px 8px 8px 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
    }
}

.tile-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(static/wallpaper/the-cliffs.webp);
}

.tile-square-image-and-text-overlay-02 {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-color: #888888;
    background-blend-mode: multiply;

    filter: saturate(0.75);

    justify-content: space-between;

    >h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        font-size: 16pt;
        font-weight: 300;
        margin: 16px 16px 4px 16px;
        overflow: hidden;
        text-overflow: clip;
        overflow-wrap: break-word;
    }

    >p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        font-size: 9pt;
        line-height: 16px;
        margin: 4px 16px 36px 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        justify-self: flex-end;
    }
}

@keyframes start-entrance-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}