.message-dialog {
    width: 100%;
    padding: 0;
    border: none;
    background: transparent;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    user-select: none;

    max-width: 100vw;

    &::backdrop {
        animation: show_backdrop 0.1s linear forwards;
    }

    &[open] {
        .message-dialog-content-root {
            animation: show_desktop 0.1s linear forwards;
        }

        &.closing {
            .message-dialog-content-root {
                animation: hide_desktop 0.1s linear forwards;
            }

            &::backdrop {
                animation: hide_backdrop 0.1s linear forwards;
            }
        }
    }

    .message-dialog-content-root {
        color: black;
        background-color: white;

        padding: 24px;
        display: flex;
        justify-content: center;
        transform-origin: center;
    }

    .message-dialog-content-root {
        display: flex;
    }

    .message-dialog-content-container {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .message-dialog-content {
        font-family: 'Segoe UI';
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow-x: hidden;
    }

    .message-dialog-button-container {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .message-dialog-title {
        font-size: 20pt;
        font-weight: 300;
        line-height: 1.2;
        margin: 0;
    }

    .message-dialog-button {
        appearance: none;
        font-size: 11pt;
        font-weight: 500;
        line-height: 1.3636;
        font-family: 'Segoe UI';
        background-color: #cccccc;
        border: 2px solid #cccccc;
        color: #1f1f1f;
        min-height: 32px;
        min-width: 90px;
        padding: 4px 8px;

        &:hover {
            background-color: #dddddd;
            border-color: #dddddd;

            &:active {
                background-color: #1f1f1f;
                border-color: #1f1f1f;
                color: white;
            }
        }

        &.primary {
            background-color: #4617b4;
            border-color: #4617b4;
            color: white;

            &:hover {
                background-color: #602fce;
                border-color: #4617b4;
                color: white;

                &:active {
                    background-color: #1f1f1f;
                    border-color: #1f1f1f;
                    color: white;
                }
            }
        }
    }

    a,
    a:visited {
        text-decoration: none;
        color: #602fce;
    }

    @media screen and (max-width: 600px) {
        margin: 0;

        a,
        a:visited {
            color: #9676e0;
        }

        &[open] {
            .message-dialog-content-root {
                animation: show_mobile 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28)
                    forwards;
            }

            &.closing {
                .message-dialog-content-root {
                    animation: hide_mobile 0.1s ease-in forwards;
                }
            }
        }

        .message-dialog-content-root {
            background: #1f1f1f;
            color: white;
            transform: rotate3d(1, 0, 0, 0deg);
            padding: 20px;
        }

        .message-dialog-title {
            font-size: 15pt;
            font-weight: 500;
            line-height: 1.2;
            margin: 0;
        }

        .message-dialog-button-container {
            justify-content: stretch;
        }

        .message-dialog-button {
            flex: 1;
            max-width: 50%;
        }

        .message-dialog-content {
            margin: 20px 0 24px 0;
            font-size: 11pt;
        }

        .message-dialog-button {
            background-color: #1f1f1f;
            border: 2px solid white;
            color: white;
            text-transform: lowercase;

            &:hover {
                background-color: rgba(255, 255, 255, 0.33);
                border-color: white;

                &:active {
                    background-color: white;
                    border-color: white;
                    color: #1f1f1f;
                }
            }

            &.primary {
                background-color: transparent;
                border: 2px solid white;
                color: white;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.33);
                    border-color: white;

                    &:active {
                        background-color: white;
                        border-color: white;
                        color: #1f1f1f;
                    }
                }
            }
        }
    }
}

@keyframes show_desktop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide_desktop {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes show_mobile {
    from {
        transform: rotate3d(1, 0, 0, 120deg);
    }

    to {
        transform: rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes hide_mobile {
    from {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    to {
        transform: rotate3d(1, 0, 0, -90deg);
    }
}

@keyframes show_backdrop {
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.6);
    }
}

@keyframes hide_backdrop {
    from {
        background: rgba(0, 0, 0, 0.6);
    }

    to {
        background: rgba(0, 0, 0, 0);
    }
}
