.core-window-container {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;
}

.core-window {
    position: absolute;
    pointer-events: all;
    width: 100%;
    height: 100%;
    background: white;
}

.core-window-app-host {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.core-window-app-host>div {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.core-window-titlebar {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #111111;
    display: flex;
    transition: transform 0.15s ease-out;
    overflow: hidden;
}

.core-window-titlebar.hidden {
    opacity: 1;
    display: flex;
    transition-delay: 0.35s;
    transform: translateY(-30px);
}

.core-window-icon-container {
    margin: 3px;
}

.core-window-icon {
    width: 24px;
    height: 24px;
}

.core-window-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.core-window-minimise {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: white;
    font-size: 12px;
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
    border: none;
}

.core-window-minimise:hover {
    background: #3665b3;
    border: none;
}

.core-window-minimise:active {
    opacity: 0.8;
    border: none;
}

.core-window-close {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    font-family: "Segoe UI Symbol";
    color: white;
    font-size: 12px;
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
    border: none;
}


.core-window-close:hover {
    background: #e04343;
    border: none;
}

.core-window-close:active {
    opacity: 0.8;
    border: none;
}

.core-window-imposter {
    position: absolute;
    transform-origin: center;
    perspective-origin: center;
    transform-style: preserve-3d;
}

.core-window-imposter>.front,
.core-window-imposter>.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    overflow: hidden;
    box-sizing: border-box;
}

.core-window-imposter>.front>*,
.core-window-imposter>.back>* {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Style the front side (fallback if image is missing) */
.core-window-imposter>.front {}

/* Style the back side */
.core-window-imposter>.back {
    transform: rotateY(180deg);
}