.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0 16px;
}

.project {
    display: flex;
    align-items: center;
    margin: 0 0 16px 0;
    text-decoration: none;
    color: #d3c0f2;
    filter: drop-shadow(0 0 2px hsl(263, 66%, 70%));

    background-color: #130f19;
    background-image: linear-gradient(205deg, hsl(263, 66%, 55%, 0.25), hsl(263, 66%, 55%, 0.05) 200px);

    height: 96px;
}

.project:hover {
    background-color: #261f33;
    filter: drop-shadow(0 0 4px hsl(263, 66%, 70%));
}

.project-icon {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
    margin: 0;
    object-fit: contain;
}

.project-info {
    margin: 16px;
}

.project h4 {
    margin: 0 0 0px 0;
    font-size: 1.33rem;
}

.project p {
    margin: 0;
    font-size: 1rem;
    color: #b595e9;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}