body {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;    
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  user-select: none;
  -webkit-user-select: none; /* lick my entire ass */
  position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}