.start {
    color: white;
}

.start-content {
    display: grid;
    grid-template-columns: 0 1fr 0;
    height: 100%;
    height: -webkit-fill-available;
} 

.start-tiles {
    margin-right: 8px;
}

@keyframes start-hide {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes start-tiles-hide {
    0% {
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform: scale3d(0.33, 0.33, 0.33);
    }
}


@keyframes start-show {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes start-tiles-show {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px)
    }
}

.start.hiding {
    animation: start-hide 0.25s forwards;

    .start-tiles-scroll-container {
        animation: start-tiles-hide 0.25s forwards;
    }
}

.start-screen,
.core-window-container {
    transform-style: preserve-3d;
}

.start-main-header {
    display: none;
}

html {
    background: black;
}

.start {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.start.hiding {
    z-index: 500;
}

.start-tiles {
    margin: 32px 8px 8px 8px;
}

.start-footer {
    display: none;
}

.start-tiles-scroll-container {
    grid-column: 2;
    overflow-x: hidden;
    overflow-y: overlay;
    max-height: 100vh;
}

.start-tile-group {
    margin-bottom: 8px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
}

.start-show-all-button {
    top: 32px;
    position: fixed;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    appearance: none;
}


.start-show-all-icon {
    width: 32px;
    height: 32px;
}

.start-show-all-button #arrow {
    fill: white;
}

.start-show-all-button #circle {
    stroke: white;
    fill: transparent;
}

.start-show-all-button:hover #circle {
    fill: #2E00A5;
}

.start-show-all-button:active #circle {
    fill: white;
}

.start-show-all-button:active #arrow {
    fill: #180053;
}

.start-hide-all-button #arrow {
    fill: black;
}

.start-hide-all-button #circle {
    stroke: black;
    fill: transparent;
}

.start-hide-all-button:hover #arrow {
    fill: white;
}

.start-hide-all-button:hover #circle {
    fill: #2E00A5;
}

.start-hide-all-button:active #circle {
    fill: black;
}

.start-hide-all-button:active #arrow {
    fill: #180053;
}
@media screen and (min-width: 320px) {
    .start-content {
        grid-template-columns: 0 1fr 64px;
    }

    .start-footer {
        display: flex;
        justify-content: center;
    }

    .start-tiles {
        margin-right: 0px;
    }
}


@media screen and (min-width: 350px) {
    .start-content {
        grid-template-columns: 0 1fr 0;
    }

    .start-tiles {
        margin-right: 8px;
    }

    .start-footer {
        display: none;
    }

    .start-tile-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: var(--background-colour);
        background-image: url(static/wallpaper/the-cliffs.jpg);
        background-image: image-set("static/wallpaper/the-cliffs.webp" type("image/webp"),
                "static/wallpaper/the-cliffs.jpg" type("image/jpeg"));
        background-size: cover;
        background-position: center;
    }

    .start {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--background-colour);
        background-image: url(static/wallpaper/the-cliffs.jpg);
        background-image: image-set("static/wallpaper/the-cliffs.webp" type("image/webp"),
                "static/wallpaper/the-cliffs.jpg" type("image/jpeg"));
        background-size: cover;
        background-position: center;
        animation: start-show 0.25s forwards;
    }

    .start-screen {
        background: rgba(0, 0, 0, 0.33);

        .start-tiles-scroll-container {
            animation: start-tiles-show 0.25s forwards ease-out;
        }
    }

    .start-content {
        grid-template-rows: 120px 1fr;
        height: 100vh;
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    .start-main-header {
        margin-right: 48px;
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .start-title {
        /* 42pt;Light;None;Segoe UI */
        font-family: "Segoe UI";
        font-size: 42pt;
        font-weight: 200;
        font-feature-settings: "ss17" 1, "dlig" 1;
        line-height: 80px;
        margin: 0;
    }

    .start-header-buttons {
        grid-column: 2;
        display: grid;
        grid-template-columns: 170px 57px 57px;
        column-gap: 2px;
        margin-bottom: 12px;
    }

    .start-header-button {
        height: 57px;
        transition: transform 0.1s ease-out;
        appearance: none;
        border: none;
        background: transparent;
        padding: none;
        color: white;
        font-family: 'Segoe UI';

        &:hover {
            background: var(--accent-colour);
        }

        &:active {
            background: var(--accent-colour);
            transform: scale3d(0.975, 0.975, 0.975);
        }
    }

    .start-header-user-button {
        display: grid;
        text-align: right;
        align-items: center;
        grid-template-columns: 1fr 60px;
        font-weight: 300;

        >.username {
            >p {
                margin: 0;
            }

            >.primary {
                font-size: 27px;
                line-height: 27px;
            }

            >.secondary {
                font-size: 18px;
                line-height: 18px;
            }
        }
    }

    .start-header-user-picture {
        width: 40px;
        height: 40px;
        align-self: center;
        justify-self: center;
    }

    .start-header-power,
    .start-header-search {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Segoe UI Symbol";
        font-size: 28px;
        line-height: 30px;
        width: 57px;
        height: 57px;
    }

    .mobile>.start-header,
    .mobile>.start-footer {
        display: none;
    }

    .start-tiles-scroll-container {
        display: flex;
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow-x: overlay;
        overflow-y: hidden;
        grid-row: 2;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;
    }

    .start-header {
        margin-left: 72px;
        align-items: flex-end;
        font-weight: 300;
        z-index: 1;
        grid-column: 1 / span 2;
    }

    .start-tiles {
        display: flex;
        align-self: center;
        align-items: center;
        height: calc(100% - 200px);
        margin-left: 64px;
        margin-top: 112px;
        margin-bottom: 88px;
    }

    .start-footer {
        position: relative;
        top: -60px;
        margin-left: 72px;
        display: flex;
        align-items: center;
        align-self: center;
        grid-row: 3;
    }

    .start-footer {
        margin-left: 136px;
    }

    .start-header {
        margin-left: 124px;
    }

    .start-tile-group {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 120px;
        grid-template-rows: 32px repeat(auto-fill, 120px);
        grid-auto-columns: 120px;
        grid-auto-rows: 120px;
        grid-auto-flow: none;

        grid-template-areas:
            "head"
            "tiles";

        /* display: flex;
        align-self: flex-start; */
        margin-left: 56px;
        margin-bottom: 0;
        align-self: stretch;
        align-content: center;
    }

    .start-show-all-button {
        transform: rotate(90deg);
    }

    .start-hide-all-button {
        transform: rotate(-90deg);
    }

    .start-arrow-button {
        font-family: "Segoe UI Symbol";
        font-size: 42px;
        display: flex;
        justify-self: flex-start;
        top: auto;
    }

    .all-apps-text {
        display: grid;
        grid-auto-columns: 450px;
        column-gap: 20px;
    }
}